.header {
  background-color: #ffffff;
}

.menu__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.menu__wrap {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.menu__link-wrap:not(last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.menu__item:not(last-child) {
  margin-right: 50px;
}
.menu__item-down {
  margin-top: 32px;
}
.menu {
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-right: 215px;
  }
}
.header__rightnav-mail {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.header__rightnav {
  @include font(12px, 500, 1.16, 0.02em);
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    @include font(14px, 500, 1.14, 0.02em);
  }
}
.header__connect {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}
.header__rightnav-icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.mob__menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: scroll;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mob__menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob__menu-wrap {
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mob__menu-socials {
  margin-top: 64px;
  display: flex;
}
.mob__menu-link {
  @include font(40px, 500, 1.17, 0.02em);
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu__item-up {
  margin-top: 302px;
}
.menu__item-down {
  margin-top: 32px;
}
.menu__item-top {
  @include font(34px, 500, 1.17, 0.02em);
  color: var(--accent-color);
}
.menu__item-bottom {
  @include font(24px, 500, 1.16, 0.02em);
  color: var(--main-text-color);
}
.mob__menu-icon {
  @include font(18px, 500, 1.22, 0.02em);
  color: #2196f3;
}
